body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}
header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
.profile-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}